header {
   padding-top: var(--padding);
   background-image: url(/assets/banner-bg.png);
   background-size: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
   position: relative;
   z-index: 1;
   padding-bottom: 100px;
}

header::before {
   content:"";
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0px;
   background-color: rgb( 225, 237, 249, 0.8);
   background-size: 100%;
   top: 0px;
   z-index: -1;
}
.logo {
   width: auto;
}
#menu-icon {
   display: none;
   font-size: 2rem;
   color: #060707;
   cursor: pointer;
}

nav {
   display: flex;
   justify-content: space-between;
   margin-bottom: 100px;
}

nav .navbar {
   display: flex;
   gap: 25px;
}

nav .navbar  li a{
   text-decoration: none;
   color: #060707;
   font-size: 1rem;
   font-weight: 500;
   text-transform: uppercase;
   transition: all .3s ease-in-out;
}
nav .navbar  li:first-child a{
   color: #f5a738;
}

nav .navbar  li:hover a{
   color: #f5a738;
}

header .main-section h1 {
   font-size: 60px;
   line-height: 90px;
   font-weight: 900;
   color: #060707;
}
header .main-section p {
   font-weight: 400;
   line-height: 24px;
   padding-top: 30px;
   color: #060707;
}

header .btn_main {
   display: flex;
}
header .main-section .started_text {
   width: 180px;
   margin-top: 30px;
   margin-right: 20px;
}

header .main-section .started_text a {
   width: 100%;
   padding: 15px 15px;
   color: #ffffff;
   background-color: #f5a738;
   text-align: center;
   font-size: 18px;
   border-radius: 40px;
   float: left;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.5s ease;
}
header .main-section .started_text a:hover {
   color: #ffffff;
   background-color: #060707;
}

header .main-section .started_text.active a {
   color: #ffffff;
   background-color: #060707;
}


@media screen and (max-width: 740px) {
   #menu-icon {
      display: block;
   }
   nav .navbar {
      position: absolute;
      right: 0;
      top: 50px;
      left: 0px;
      flex-direction: column;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: 0.5s ease;
      background-color: rgb( 225, 237, 249, 1);
      padding-block: 20px;
      text-align: start;
      padding-left: 20px;
   }
   
   nav .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@media screen and (max-width: 460px) {
   nav {
      margin-bottom: 50px;
   }
   header .main-section h1 {
      font-size: 40px;
      line-height: 70px;
   }
}
@media screen and (max-width: 320px) {
   header .btn_main {
      flex-direction: column;
   }
}

